@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLink {
    @apply  block select-none p-2 lg:p-4 text-amber-900 transition-all hover:text-orange-300 text-center md:text-base lg:text-xl font-semibold lg:mr-10 md:mr-5
  }
  .localeButton {
    @apply block select-none  text-amber-900 transition-all hover:font-extrabold text-center text-base font-semibold bg-inherit  mb-2 w-10 h-7 rounded-full uppercase duration-200 hover:text-slate-900 bg-gradient-to-b 
  }
}

 html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: silver;
    font-size: large;
    background: #0f1624;
  }
} 
